@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins";
}

body{
    margin: 0 auto; 
}

/*  navigation  */

nav{
    background-color: #233e50;
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
    font-size: 20px;
    color: #fff;
    align-items: center;
}

.button{
  border: none;
  font-size: 20px;
  padding: 5px 20px;
  border-radius:20px;
  background-color: #65e4a3;
}

a{
    text-decoration: none;
}