@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins";
}

body{
    margin: 0 auto; 
}

/*  navigation  */

nav{
    background-color: #233e50;
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    justify-content:space-between;
    align-items: center;
    
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
    font-size: 20px;
    color: #fff;
    align-items:center;
}

.button{
  border: none;
  font-size: 20px;
  padding: 5px 20px;
  border-radius:20px;
  background-color: #65e4a3;
}

a{
    text-decoration: none;
}

/* about */
.about{
    background-color: #0a2648;
    color: #fff;
    height: 600px;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

h1{
    font-size:3rem;
}
p{
    opacity: 0.5;
}


/* hero images  */

.grid-items{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 2rem;
}

.grid-items > :nth-child(2){
    grid-row: span 2;
}